.user{
    margin-top: 47px;
    margin-left: 643px
}

.login{
    width: 339px;
    font-size: 36px;
    color: black;
    font-weight: 700;
    margin-left: 647px;
    margin-top: 22px;
    margin-bottom: 36px;

}

.ckBox{
    margin-left: 577px;
    margin-top: 17px;
    margin-bottom: 40px;

}

.button{
    margin-left: 594px;
    margin-bottom: 50px;
}