.man{
    margin: 0px -33px 21px 19px;
}
.FlasSell{
    padding-left: 130px;
}

.strikethrough {
    text-decoration: line-through;
  }

.Freedelevery{
    margin: -20px 0px -2px 85px;
    width: 34px;
}  